.result-page {
    display: flex;
    height: 100vh; /* 페이지 전체 높이를 100vh로 설정 */
}

.map-container {
    flex: 2;
    /* position: relative; */
    height: calc(100vh - 60px); /* 헤더 높이만큼 뺀 높이 설정 */
}

.dashboard-container {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
    height: calc(100vh - 60px); /* 고정된 높이 설정 */
    margin-top: 60px; /* 헤더 높이만큼의 여백 추가 */
}

.dashboard-container h4 {
    margin-top: 1rem;
}

.chart-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}