.custom-modal .modal-dialog {
    transform: translateY(-10%); /* 모달을 살짝 위로 이동 */
}

.custom-modal .modal-content {
    border-radius: 15px; /* 모서리를 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    border: none; /* 테두리 제거 */
}

.custom-modal .modal-header {
    background-color: #e46f73; /* 헤더 배경색 */
    color: white; /* 헤더 글자색 */
    border-bottom: none; /* 헤더 하단 테두리 제거 */
    border-top-left-radius: 15px; /* 모서리를 둥글게 */
    border-top-right-radius: 15px; /* 모서리를 둥글게 */
}

.custom-modal .modal-title {
    font-weight: bold; /* 제목 글자 굵게 */
}

.custom-modal .modal-body {
    padding: 2rem; /* 패딩 추가 */
}

.custom-modal .modal-footer {
    border-top: none; /* 푸터 상단 테두리 제거 */
    padding: 1rem 2rem; /* 패딩 추가 */
}

.custom-modal .btn-secondary {
    background-color: #6c757d; /* 닫기 버튼 배경색 */
    border: none; /* 닫기 버튼 테두리 제거 */
}

.custom-modal .btn-primary {
    background-color: #e46f73; /* 저장 버튼 배경색 */
    border: none; /* 저장 버튼 테두리 제거 */
}

.custom-modal .form-label {
    margin-top: 1rem; /* Form.Label 요소에 margin-top 추가 */
}